<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>Edit Soccer Teams:</h1>

    <!-- Edit Form -->

    <form action="/soccerTeams/<%= id %>?_method=PUT" method="POST">
                Name: <input type="text" name="name" value="<%=soccerTeams.name%>"/><br/>
                League: <input type="text" name="league" value="<%=soccerTeams.league%>"/><br/>
                Country: <input type="text" name="country" value="<%=soccerTeams.country%>"/><br/>
                <br/>
                <input type="submit" name="" value="Submit Changes"/>
    </form>

</body>
</html>